#N 4      ; number of vertices n in graph (from 1 to n)

#V1 D7 S                 ; Vertex 1, deadline 7, contains a hurricane shelter (a "goal vertex" - there may be more than one)
#V2 D5 P1                ; Vertex 2, deadline 5, initially contains 1 person to be rescued
#V3 D1 S                 ; Vertex 3, Deadline 1, shelter
#V4 D4 P2                ; Vertex 4, deadline 4, initially contains 2 persons to be rescued

#E1 1 2 W1                 ; Edge 1 from vertex 1 to vertex 2, weight 1
#E2 3 4 W1                 ; Edge 2 from vertex 3 to vertex 4, weight 1
#E3 2 3 W1                 ; Edge 3 from vertex 2 to vertex 3, weight 1
#E4 1 3 W4                 ; Edge 4 from vertex 1 to vertex 3, weight 4
#E5 2 4 W5                 ; Edge 5 from vertex 2 to vertex 4, weight 5
